 <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8" style="margin-left: 200px;">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                    <i class="material-icons">perm_identity</i>
                                </div>
                                <div class="card-content">
                                <p>
                                    <h4 class="card-title" style="text-align: center;">PLEASE FILL ALL FIELDS CORRECTLY
                                        <small class="category"></small>
                                    </h4>
                                     </p>
                                    <form ng-submit="doRegSubmit(user)">
                                        <div class="row">
                                          <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Surname</label>
                                                    <input name="othername" required ng-model="user.surname"  type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Othername</label>
                                                    <input name="othername" required ng-model="user.othername"  type="text" class="form-control">
                                                </div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Email</label>
                                                     <input  id= "email" name="email" placeholder="lmu mail only" required ng-model="user.email" type="email"  class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Phone Number</label>
                                                    <input id="phone" type="tel" name="phone" required ng-model="user.phoneNum"  class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Facebook ID</label>
                                                   <input type="text" required ng-model="user.fbId" name="fbid" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Date Of Birth</label>
                                                    <input class="form-control datepicker" type="text" name="dob" required ng-model="user.birth"  value="" />
                                                </div>
                                            </div>
                                          </div>                                        
                                        </div>                                                        
                                    </form>
                                </div>
                                 <div class="card-content">
                                    <h4 class="card-title">
                                        <small class="category"></small>
                                    </h4>
                                    <form>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Matric Number</label>
                                                    <input type="" name="matric"  required ng-model ="user.matricNo"   max="9" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Programme</label>
                                                    <select name="programme" required ng-model ="user.programme" class="form-control">
                <option disabled >select programme</option>
                <option value="Accounting">Accounting</option>
                <option value="Agricultural Economics">Agricultural Economics</option>
                <option value="Agricultural Extension">Agricultural Extension</option>
                <option value="Agricultural Engineering">Agricultural Engineering</option>
                <option value="Animal Science">Animal Science</option>
                <option value="Banking and Finance">Banking and FInance</option>
                <option value="Biochemistry">Biochemistry</option>
                <option value="Business Administration">Business Administration</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Crop Science">Crop Science</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Economics">Economics</option>
                <option value="Electrical and Information Engineering">Electrical and information Engineering</option>
                <option value="Industrial Chemistry">Industrial Chemistry</option>
                <option value="Industrial Mathematics">Industrial Mathematics</option>
                <option value="Industrial physics">Industrial physics</option>
                <option value="International Relations">International Relations</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Micro-Biology">Micro-Biology</option>
                <option value="Political Science">Political Science</option>
                   <option value="Sociology">Sociology</option>
                <option value="Soil Science">Soil Science</option>
                </select>
                                                </div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Hall Name</label>
                                                    <input type="text" required ng-model="user.hall" required class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Room Number</label>
                                                    <input type="text" required ng-model="user.room" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">State of Origin</label>
                                                    <input type="text" required ng-model="user.state"  name="stateOrigin" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">State of Residence</label>
                                                    <input type="text" required ng-model="user.stateRes" name="stateResidence" class="form-control">
                                                </div>
                                            </div>
                                          </div>                                        
                                        </div>                                                        
                                    </form>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <small class="category"></small>
                                    </h4>
                                    <form>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Gender</label>
                                                    <select name="gender" required ng-model="user.gender" class="form-control">
                                                                      <option disabled> choose gender</option>
                                                                          <option value="F">Female</option>
                                                                         <option value="M">Male</option>                   
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Subunit</label>
                                                     <select name = "choiceSub" required ng-model="user.subUnit" class="form-control">
                                                                         <option disabled>choose subunit</option>
                                                                          <option value="audio">Audio</option>
                                                                         <option value="visual">Visual</option>                   
                                                                    </select>
                                                </div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">College</label>
                                                    <select name="college" required ng-model ="user.college" class="form-control">
                                                                  <option disabled>choose college</option>
                                                                   <option value="College of Agricultural Sciences">College of Agricultural Sciences</option>
                                                                   <option value="College of Business and Social Sciences">College of  Business and Social Sciences  </option>
                                                                   <option value="College of Science and Engineering">College of Science and Engineering </option>
                                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Level</label>
                                                   <select name="level" required="" ng-model="user.level" class="form-control">
                                <option disabled>select level</option>
                                <option value="100">100 Lvl</option>
                                <option value="200">200 Lvl</option>
                                <option value="300">300 Lvl</option>
                                <option value="400">400 Lvl</option>
                                <option value="500">500 Lvl</option>
                                </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">GHM Role</label>
                                                   
                                                     <select name="role" required="" ng-model="user.role" class="form-control">
                              <option disabled> select role</option>
                                <option value="Executive">Executive</option>
                                <option value="Member">Member</option>
                                <option value="Probation">Probation</option>
                                </select>
                                                </div>
                                            </div>
                                          </div>                                        
                                        </div>                                                        
                                        <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="icon" style="margin-left: 450px;">
                        &copy; 2017
                        Developed By Jehn
                    </div>
            </footer>
        </div>